{% extends "base.html.twig" %}

{% block title %}
	Accueil
{% endblock %}

{% block body %}
	<h1 class="text-center mt-4">Nos produits phares</h1>
	<div class="row">
		{% for product in products %}
			<div class="col mt-4">
				{% include "product/_product_cart.html.twig" with {'p' : product} %} 
				 {# ? with {'p' : product} est un tableau associatif #}
				 {# ? Avec with {'p' : product} on replace la variable p qui est dans le fishier qu'on a include par product qui est dans l'exterieur  #}
			</div>
		{% endfor %}
	</div>
<hr class="my-5">
<h2>Un service irreprochable</h2>
<p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Ipsa eius officia in ut praesentium magni.</p>

<div class="row">
	{% include "shared/_assurance.html.twig" with {
            'color':'primary',
            'icone':'fas fa-truck',
            'text': "Lorem ipsum dolor sit amet consectetur adipisicing elit. Similique modi, eum reiciendis aliquid deleniti sint."
        } %}
	{% include "shared/_assurance.html.twig" with {
            'color':'success',
            'icone':'fas fa-check',
            'text': "Lorem ipsum dolor sit amet consectetur adipisicing elit. Similique modi, eum reiciendis aliquid deleniti sint."
        } %}
	{% include "shared/_assurance.html.twig" with {
            'color':'warning',
            'icone':'fas fa-lock',
            'text': "Lorem ipsum dolor sit amet consectetur adipisicing elit. Similique modi, eum reiciendis aliquid deleniti sint."
        } %}
</div>{% endblock %}
